# Entorno virtual
env/
venv/
ENV/

# Base de datos
*.sqlite3
*.db

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribuciones
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.env
.env.local

# Archivos generados
*.log
*.pot
media/
/staticfiles/

# Exportaciones
exports/*.csv

# Pruebas
.coverage
.pytest_cache/
htmlcov/

# Sistema operativo
Thumbs.db
.DS_Store
